CutomerOrderXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customer_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer_name" type="xs:string" nillable ="false"/>
        <xs:element name="customer_address" type="xs:string" />
        <xs:element name="delivery_time" type="xs:dateTime" />
        <xs:element name="goods">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="good">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="good_name" type="xs:string" />
                    <xs:element name="good_price" type="xs:float" />
                    <xs:element name="good_quantity" type="xs:float" />
                    <xs:element name="good_sum" type="xs:float" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="comment" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>